{{#each copy.steps}}
<div class='step ui__step ui__step--{{id}}' data-id={{id}}>
	{{#if dropdown}}
	<div class='dropdown'>
		<select class='month'></select>
		<select class='day' disabled></select>
		{{!--
		<p class='desktop'>Or walk it out with arrow keys
			<span>◀</span>
			<span>▶</span>
		</p> --}}
	</div>
	{{/if}} {{#if slider}}
	<div class='slider'>
	</div>
	{{/if}}
	{{#if double}}
	<button alt='advance' class='next next--double small' data-choice='pudding' disabled>{{{button1}}}</button>
	<button alt='advance' class='next next--double small' data-choice='appendix' disabled>{{{button2}}}</button>
	{{else}}
	<button alt='advance' class='next small' disabled>{{{button}}}</button>
	{{/if}}
	
	<button alt='go back' class='prev x-small'>@@include('rewind.svg')</button>
</div>
{{/each}}